<div class="card soft-shadow">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <div class="view_header">
          <h6 class="font-weight-600 mb-0">
            {{ "training_session.calendar" | translate }}
          </h6>
        </div>
      </div>
      <div class="col-12">
        <!-- <div class="row px-3 px-md-5">
                  </div> -->
        <full-calendar [options]="calendarOptions"></full-calendar>
        <!-- <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar> -->
      </div>
    </div>
  </div>
</div>
