<p-dialog
  class="dialog"
  [(visible)]="visible"
  maskStyleClass="purple_mask"
  id="match_dialog"
  [closeOnEscape]="true"
  [showHeader]="false"
  [modal]="true"
  (onHide)="closeModal()"
  [dismissableMask]="true"
>
  <div class="match_dialog" *ngIf="match">
    <div class="match_dialog_content">
      <div class="last_game">
        <div class="team">
          <p-avatar
            size="large"
            image="{{ match?.current_team.image.full_url }}"
            shape="circle"
          ></p-avatar>
          <span class="d-block font-weight-600 mt-2">{{
            match?.current_team.name
          }}</span>
        </div>

        <div class="match_info">
          <span class="time">{{ match.start_at_hour }}</span>
          <div class="separator"></div>
          <small class="font-weight-600 text-secondary">{{
            match.type_competition_name
          }}</small>
        </div>

        <div class="team">
          <p-avatar
            size="large"
            image="{{ urlBase + match?.competition_rival_team?.url_image }}"
            shape="circle"
          ></p-avatar>
          <span class="d-block font-weight-600 mt-2">{{
            match?.competition_rival_team_name
          }}</span>
        </div>
      </div>
    </div>
    <div class="match_border"></div>

    <div class="match_detail_footer">
      <div class="match_detail_text">
        <span>{{ match.location }}</span>
      </div>
      <div class="match_detail_text">
        <span>{{ match.start_at_date }}</span>
      </div>
    </div>
    <div class="match_dialog_footer">
      <a [routerLink]="['/club/competition/match/details/' + match.id]">Ver partido</a>
    </div>
  </div>
</p-dialog>
