:host ::ng-deep{
  .btn_total_injuries,
  .btn_add_injury{
    height: 45px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .btn_total_injuries{
    background-color: #0065E90A;
    border: 1px solid #0065E9;
    color: #0065E9;
  }
  
  .p-datatable{
      .p-datatable-thead>tr>th{
          color: #050C44;
          border-width: 1px 0 1px 0;
          padding: 1rem;
      }
      .p-datatable-tbody > tr > td {
          border: 0;
          padding: .4rem 1rem;
          font-size: .9rem;
          color: rgba($color: #050C44, $alpha: .55);
          font-weight: 500;
      }
      .p-datatable-footer{
          background: transparent;
          border-width: 1px 0 0 0;
      }
  }
  .step_markers{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    cursor: pointer;
    li{
      flex: 0 0 150px;
      height: 6px;
      padding: 0 0.5rem;
      // cursor: pointer;
      .step_marker{
        background: #050C44;
        display: block;
        height: 100%;
        border-radius: 4px;
        opacity: 0.1;
        &.active{
          background: #024CAC;
          opacity: 1;
        }
      }
    }
  }
}
