<div class="cont border">
  <div class="p-3" id="reset_pass_container">
    <form [formGroup]="resetPassForm" id="reset_pass_form">
      <div class="row passInput">
        <div class="labelpass mb-4">
          <label class="d-md-none">{{
            "resetPassword.password" | translate
          }}</label>
          <span class="p-input-icon-left p-input-icon-right d-block">
            <i class="d-flex"
              ><img
                alt=""
                src="/assets/img/icons/padlock.svg"
                width="20"
                height="20"
            /></i>
            <input
              [ngClass]="{ 'ng-invalid ng-dirty': f.password.errors }"
              [type]="showPass ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              pInputText
              placeholder="{{ 'resetPassword.password' | translate }}"
            />
            <i
              (click)="showPass = false"
              *ngIf="showPass"
              class="pi pi-eye"
              role="button"
            ></i>
            <i
              (click)="showPass = true"
              *ngIf="!showPass"
              class="pi pi-eye-slash"
              role="button"
            ></i>
          </span>
          <div
            *ngIf="
              submit && f.password.invalid && f.password.value.length === 0
            "
            class="form-text text-danger"
          >
            <p>
              <small>{{ "register.fielRequired" | translate }}</small>
            </p>
          </div>
          <div
            *ngIf="submit && f.password.errors?.pattern"
            class="form-text text-danger"
          >
            <p>
              <small>{{ "register.validate_password" | translate }}</small>
            </p>
          </div>
        </div>
        <div class="labelpass">
          <label class="d-md-none">{{
            "resetPassword.confirmPassword" | translate
          }}</label>
          <span class="p-input-icon-left p-input-icon-right d-block">
            <i class="d-flex"
              ><img
                alt=""
                src="/assets/img/icons/padlock.svg"
                width="20"
                height="20"
            /></i>
            <input
              [ngClass]="{ 'ng-invalid ng-dirty': f.confirmPassword.errors }"
              [type]="showConfirmPass ? 'text' : 'password'"
              class="form-control"
              formControlName="confirmPassword"
              pInputText
              placeholder="{{ 'resetPassword.confirmPassword' | translate }}"
            />
            <i
              (click)="showConfirmPass = false"
              *ngIf="showConfirmPass"
              class="pi pi-eye"
              role="button"
            ></i>
            <i
              (click)="showConfirmPass = true"
              *ngIf="!showConfirmPass"
              class="pi pi-eye-slash"
              role="button"
            ></i>
          </span>
          <div
            *ngIf="
              submit &&
              f.confirmPassword.invalid &&
              f.confirmPassword.value.length === 0
            "
            class="form-text text-danger"
          >
            <p>
              <small>{{ "register.fielRequired" | translate }}</small>
            </p>
          </div>
          <div
            *ngIf="
              resetPassForm.hasError('notSame') &&
              f.confirmPassword.value.length > 3
            "
            class="form-text text-danger"
          >
            <p>
              <small> {{ "register.passwordsDoesntMatch" | translate }}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 my-2 text-center px-5">
        <div class="col-12 col-sm-12 mb-3">
          <button
            (click)="sendData()"
            [disabled]="loading"
            class="btn editar_perfil_btn"
            type="button"
          >
            <span
              *ngIf="loading"
              aria-hidden="true"
              class="spinner-grow spinner-grow-sm"
              role="status"
            ></span>
            <span *ngIf="loading">{{ "LBL_LOADING" | translate }} </span>
            <span *ngIf="!loading">
              {{ "resetPassword.resetPass" | translate }}</span
            >
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
