<form action="" [formGroup]="createSheetForm" (ngSubmit)="onSubmit()">
  <p-dialog
    class="custom_chip_dialog"
    id="crear_chip_dialog"
    [modal]="true"
    [(visible)]="visible"
    styleClass=""
    maskStyleClass="purple_mask"
    (onHide)="closeDialog()"
  >
    <ng-template pTemplate="header">
      <div class="d-flex flex-column header_content">
        <img src="/assets/img/logo_panel.svg" alt="" />
      </div>
    </ng-template>
    <div id="crear_chip_dialog_container" class="dialog_wrapper">
      <img
        src="{{ resources + 'nutrition/nutrition.svg' }}"
        alt="sheet"
        class="image"
      />
      <div>
        <div class="content step-margin-top" *ngIf="step == 1">
          <div class="row">
            <div>
              <h4>{{ "nutrition.create_sheet_dialog.title" | translate }}</h4>
            </div>
            <div class="col-12 mt-5">
              <p>
                {{
                  "nutrition.create_sheet_dialog.take_supplement.title"
                    | translate
                }}
              </p>
            </div>
            <div class="mb-3 col-12">
              <div class="d-flex flex-row">
                <p-radioButton
                  name="take_supplements"
                  [value]="true"
                  formControlName="take_supplements"
                  label="{{ 'nutrition.create_sheet_dialog.yes' | translate }}"
                  class="mb-4"
                  (onClick)="updateSupplements(true)"
                ></p-radioButton>
                <p-radioButton
                  name="take_supplements"
                  [value]="false"
                  formControlName="take_supplements"
                  label="{{ 'nutrition.create_sheet_dialog.no' | translate }}"
                  class="mb-4 ml-5"
                  (onClick)="updateSupplements(false)"
                ></p-radioButton>
              </div>
            </div>

            <div
              *ngIf="
                createSheetForm.get(
                  'nutrition.create_sheet_dialog.take_supplement.title'
                )?.value
              "
              class="col-12 mt-3"
            >
              <p>
                {{
                  "nutrition.create_sheet_dialog.take_supplement.supplement_type"
                    | translate
                }}
              </p>
            </div>
            <div
              *ngIf="createSheetForm.get('take_supplements')?.value"
              class="mb-4 col-12"
              (click)="newExersice = true"
            >
              <div class="select_list_container form_control">
                <span class="input_icon">
                  <i class="fas fa-briefcase-medical"></i>
                </span>
                <span class="input_text">{{
                  "nutrition.create_sheet_dialog.take_supplement.select_supplement"
                    | translate
                }}</span>
                <span class="input_icon_right"
                  ><i class="fas fa-caret-right"></i
                ></span>
              </div>
            </div>
          </div>

          <div class="selected_items">
            <div
              *ngFor="
                let supplement of createSheetForm.get('supplements')?.value;
                let i = index
              "
            >
              <div class="item">
                <div>{{ supplement?.name }}</div>
                <div class="delete_item" (click)="deleteSupplement(i)">
                  <span class="delete_item_text">x</span>
                </div>
              </div>
            </div>
          </div>

          <app-create-new-exercise-dialog
            [visible]="newExersice"
            (close)="closeDg('exersice')"
            (supplementsSelected)="addSupplements($event)"
            (otherSupplements)="
              createSheetForm.get('other_supplement')?.setValue($event)
            "
          ></app-create-new-exercise-dialog>
        </div>

        <div class="content step-margin-top" *ngIf="step == 2">
          <div class="row">
            <div class="col-12">
              <div class="col-12 title">
                <div *ngIf="step == 2" class="back" (click)="step = step - 1">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <h4>
                  {{
                    "nutrition.create_sheet_dialog.take_diet.select_diet"
                      | translate
                  }}
                </h4>
              </div>
            </div>

            <div class="col-12 mt-5">
              <p>
                {{
                  "nutrition.create_sheet_dialog.take_diet.title" | translate
                }}
              </p>
            </div>
            <div class="mb-3 col-12">
              <div class="d-flex flex-row">
                <p-radioButton
                  name="take_diets"
                  [value]="true"
                  formControlName="take_diets"
                  label="{{ 'nutrition.create_sheet_dialog.yes' | translate }}"
                  class="mb-4"
                  (onClick)="updateDiets(true)"
                ></p-radioButton>
                <p-radioButton
                  name="take_diets"
                  [value]="false"
                  formControlName="take_diets"
                  label="{{ 'nutrition.create_sheet_dialog.no' | translate }}"
                  class="mb-4 ml-5"
                  (onClick)="updateDiets(false)"
                ></p-radioButton>
              </div>
            </div>

            <div
              *ngIf="createSheetForm.get('take_diets')?.value"
              class="col-12 mt-3"
            >
              <p>
                {{
                  "nutrition.create_sheet_dialog.take_diet.diet_type"
                    | translate
                }}
              </p>
            </div>
            <div
              *ngIf="createSheetForm.get('take_diets')?.value"
              class="mb-4 col-12"
              (click)="newDiet = true"
            >
              <div class="select_list_container form_control">
                <span class="input_icon">
                  <i class="fas fa-utensils"></i>
                </span>
                <span class="input_text">{{
                  "nutrition.create_sheet_dialog.take_diet.select_diet"
                    | translate
                }}</span>
                <span class="input_icon_right"
                  ><i class="fas fa-caret-right"></i
                ></span>
              </div>
            </div>
          </div>

          <div class="selected_items">
            <div
              *ngFor="
                let diet of createSheetForm.get('diets')?.value;
                let i = index
              "
            >
              <div class="item">
                <div>{{ diet?.name }}</div>
                <div class="delete_item" (click)="deleteDiet(i)">
                  <span class="delete_item_text">x</span>
                </div>
              </div>
            </div>
          </div>
          <app-create-new-diet-dialog
            [visible]="newDiet"
            (close)="closeDg('diet')"
            (dietsSelected)="addDiets($event)"
            (otherDiets)="createSheetForm.get('other_diet')?.setValue($event)"
          ></app-create-new-diet-dialog>
        </div>

        <div class="notes_content" *ngIf="step == 3">
          <div class="row">
            <div class="col-12 notes_title">
              <div
                *ngIf="step == 3"
                class="back_step_3"
                (click)="step = step - 1"
              >
                <i class="fas fa-chevron-left"></i>
              </div>
              <h4>
                {{
                  "nutrition.create_sheet_dialog.additional_notes.title"
                    | translate
                }}
              </h4>
            </div>

            <div class="col-12 mt-5">
              <p class="characters">
                {{
                  "nutrition.create_sheet_dialog.additional_notes.characters"
                    | translate
                }}: 400
              </p>
              <div class="notes_container">
                <textarea
                  formControlName="additional_notes"
                  placeholder="{{
                    'nutrition.create_sheet_dialog.additional_notes.type_aditional_notes'
                      | translate
                  }}"
                  class="notes"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="notes_content" *ngIf="step == 4">
          <div class="row">
            <div class="col-12 notes_title">
              <div
                *ngIf="step == 4"
                class="back_step_3"
                (click)="step = step - 1"
              >
                <i class="fas fa-chevron-left"></i>
              </div>
              <h5>
                {{
                  "nutrition.create_sheet_dialog.activity_factor" | translate
                }}
              </h5>
            </div>

            <div class="activity">
              <span style="width: 218px">{{
                "activity.activity" | translate
              }}</span>
              <span style="width: 225px"
                >{{
                  "nutrition.create_sheet_dialog.hours_distribution" | translate
                }}
              </span>
            </div>

            <div class="col-12 input-m">
              <div class="input_container">
                <div
                  class="input_container_color"
                  [style]="{
                    'background-color': ('' | clasificationColors).green
                  }"
                >
                  <span>{{
                    "nutrition.create_sheet_dialog.rest" | translate
                  }}</span>
                  <div
                    class="activity_icon"
                    pTooltip="{{
                      'nutrition.create_sheet_dialog.rest_tooltip' | translate
                    }}"
                  >
                    !
                  </div>
                </div>

                <input
                  formControlName="repose"
                  type="number"
                  min="0"
                  max="24"
                  name=""
                  id=""
                />
              </div>
            </div>

            <div class="col-12 input-m">
              <div class="input_container">
                <div
                  class="input_container_color"
                  [style]="{
                    'background-color': ('' | clasificationColors).blue
                  }"
                >
                  <span>{{
                    "nutrition.create_sheet_dialog.very_light" | translate
                  }}</span>
                  <div
                    class="activity_icon"
                    pTooltip="{{
                      'nutrition.create_sheet_dialog.very_light_tooltip'
                        | translate
                    }}"
                  >
                    !
                  </div>
                </div>

                <input
                  formControlName="very_light"
                  type="number"
                  min="0"
                  max="24"
                  name=""
                  id=""
                />
              </div>
            </div>

            <div class="col-12 input-m">
              <div class="input_container">
                <div
                  class="input_container_color"
                  [style]="{
                    'background-color': ('' | clasificationColors).yellow
                  }"
                >
                  <span>{{
                    "nutrition.create_sheet_dialog.light" | translate
                  }}</span>
                  <div
                    class="activity_icon"
                    pTooltip="{{
                      'nutrition.create_sheet_dialog.light_tooltip' | translate
                    }}"
                  >
                    !
                  </div>
                </div>

                <input
                  formControlName="light"
                  type="number"
                  min="0"
                  max="24"
                  name=""
                  id=""
                />
              </div>
            </div>

            <div class="col-12 input-m">
              <div class="input_container">
                <div
                  class="input_container_color"
                  [style]="{
                    'background-color': ('' | clasificationColors).orange
                  }"
                >
                  <span>{{
                    "nutrition.create_sheet_dialog.moderate" | translate
                  }}</span>
                  <div
                    class="activity_icon"
                    pTooltip="{{
                      'nutrition.create_sheet_dialog.moderate_tooltip'
                        | translate
                    }}"
                  >
                    !
                  </div>
                </div>

                <input
                  formControlName="moderate"
                  type="number"
                  min="0"
                  max="24"
                  name=""
                  id=""
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px">
              <div class="input_container">
                <div
                  class="input_container_color"
                  [style]="{
                    'background-color': ('' | clasificationColors).red
                  }"
                >
                  <span>{{
                    "nutrition.create_sheet_dialog.intense" | translate
                  }}</span>
                  <div
                    class="activity_icon"
                    pTooltip="{{
                      'nutrition.create_sheet_dialog.intense_tooltip'
                        | translate
                    }}"
                  >
                    !
                  </div>
                </div>

                <input
                  formControlName="intense"
                  type="number"
                  min="0"
                  max="24"
                  name=""
                  id=""
                />
              </div>

              <div class="hours_limit mt-3 mb-1">
                <span class="fisical-color">{{
                  "nutrition.create_sheet_dialog.hours_distribution_validation"
                    | translate
                }}</span>
              </div>

              <div class="text-center mt-3" style="max-width: 500px">
                <span
                  [style]="{ color: activityTotal > 24 ? 'red' : 'inherit' }"
                  >{{ activityTotal }} / 24</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="footer_btns">
          <button
            *ngIf="step === 1"
            type="button"
            class="btn next_btn"
            (click)="step = step + 1"
            [disabled]="
              (step === 1 &&
                createSheetForm.get('supplements')?.value.length === 0 &&
                createSheetForm.get('take_supplements')?.value &&
                createSheetForm.get('other_supplement')?.value === '') ||
              createSheetForm.get('take_supplements')?.value === null
            "
          >
            {{ "LBL_SIGUIENTE" | translate }}
          </button>
          <button
            *ngIf="step === 2"
            type="button"
            class="btn next_btn"
            (click)="step = step + 1"
            [disabled]="
              (step === 2 &&
                createSheetForm.get('diets')?.value.length === 0 &&
                createSheetForm.get('take_diets')?.value &&
                createSheetForm.get('other_diet')?.value === '') ||
              createSheetForm.get('take_diets')?.value === null
            "
          >
            {{ "LBL_SIGUIENTE" | translate }}
          </button>
          <button
            *ngIf="step === 3"
            type="button"
            class="btn next_btn"
            (click)="step = step + 1"
          >
            {{ "nutrition.create_sheet_dialog.activity_factor" | translate }}
          </button>
          <button
            *ngIf="step == 4 && !loading"
            type="submit"
            class="btn next_btn"
            [disabled]="disableButton || !this.createSheetForm.valid || loading"
          >
            {{ "nutrition.create_sheet_dialog.finish" | translate }}
          </button>
          <button *ngIf="loading" class="btn next_btn" type="button" disabled>
            <span
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true"
            ></span>
            {{ "LBL_GUARDANDO" | translate }}
          </button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
