:host ::ng-deep{
    .p-dialog{
        max-width: 600px;
        .p-dialog-header{
            background-color: white;
            p{
                max-width: 75%;
            }
        }
        .p-dialog-content{
            background-color: white;
            #rubrics_list_dialog_container{
                input.form-control{
                    border: 1px solid #050C4412;
                }
                input.form-control::placeholder{
                    color: rgba($color: #000000, $alpha: .4);
                    font-weight: 400;
                }
                .rubrics_list{
                    .p-selectbutton{
                        border: 0;
                        display: flex;
                        flex-wrap: wrap;
                        .p-button{
                            flex: 1 1 100%;
                            border: 1px solid rgba($color: #050C44, $alpha: .5);
                            border-radius: 6px;
                            height: 75px;
                            background-color: white;
                            color: #050C44;
                            margin-top: .5rem;
                            margin-bottom: .5rem;
                            opacity: .5;
                            .rubric{
                                display: flex;
                                align-items: center;
                                height: 100%;
                                width: 100%;
                                font-size: .9rem;
                                font-family: "Montserrat", sans-serif;
                                img{
                                    filter: grayscale(1);
                                }
                                &>.icon{
                                    margin-left: auto;
                                }
                            }
                            &.p-highlight{
                                background-color: #0065E90A;
                                border: 1px solid #0065E9;
                                color: #0065E9;
                                opacity: 1;
                                img{
                                    filter: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    :host ::ng-deep{    
        .p-dialog{
            .p-dialog-content{
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {
    :host ::ng-deep{    
        .p-dialog{
            .p-dialog-header{
            }
            .p-dialog-content{
            }
        }
    }    
}

@media (min-width: 1200px) {
    :host ::ng-deep{
        .p-dialog{
            .p-dialog-header{
                padding: 3rem 3rem 1.5rem 3rem
            }
            .p-dialog-content{
                padding: 0 3rem
            }
            .p-dialog-footer{
                padding: 1.5rem 3rem;
            }
        }
    }    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    :host ::ng-deep{
        .p-dialog{
            .p-dialog-header{
            }
            .p-dialog-content{
            }
        }
    }  
}