<div class="card" >

  <div class="card-header">
    	
    	 <img src="https://via.placeholder.com/600/24f355" class="img-avatar img-thumbnail rounded-circle float-left" alt="">
	 <div class="ml-3 float-left">
	 	<p class="my-0">Juan Peres</p>

		<p class="my-0"><small>22 marzo 2022</small></p>
	 </div>
    	
  </div>
  <img class="card-img-top" src="https://via.placeholder.com/600/24f355" alt="Card image cap">
  <div class="card-body">
    <p class="card-title"><small>Card title</small></p>
    <p class="card-text"><strong> Some quick example text to build on the card title and make up the bulk of the card's content.</strong></p>
  </div>
</div>
