<p-dialog
  id="recover_password_dialog"
  class="custom_dialog"
  [modal]="true"
  [header]="''"
  [(visible)]="visible"
  styleClass=""
  maskStyleClass="purple_mask"
  (onHide)="closeDialog(); step = 1; email = ''"
>
  <ng-template pTemplate="header">
    <div class="d-flex header_content p-dialog-title">
      <div id="go_back" class="" *ngIf="step === 1">
        <i class="pi pi-angle-left"></i>
      </div>
      <span class="mx-auto text-uppercase font-weight-500" *ngIf="step == 1">
        {{ "recuperate.titleone" | translate }}
        <strong>{{ "recuperate.titletwo" | translate }}</strong>
      </span>
    </div>
  </ng-template>
  <div id="recover_password_dialog_container" class="dialog_container">
    <div *ngIf="step == 1">
      <img
        src="/assets/img/recover_password.svg"
        alt=""
        class="mt-3 mb-5"
        width="300px"
      />
      <p class="font-weight-500 text-uppercase text-dark">
        {{ "recuperate.textEmail" | translate }}
      </p>
      <div>
        <input
          class="form-control input-rounded"
          placeholder="ejemplo@gmail.com"
          aria-label="Default"
          [(ngModel)]="email"
          name="email"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div *ngIf="step == 2">
      <span class="mx-auto text-uppercase font-weight-500" *ngIf="step == 2">
        {{ "recuperate.textemailsend" | translate
        }}<strong> {{ "recuperate.textemailsendtwo" | translate }}</strong>
      </span>
      <img
        src="/assets/img/email_sent_plane.svg"
        alt=""
        class="my-5"
        width="200px"
      />
      <!-- <img
        src="/assets/img/email_sent_shadow.svg"
        alt=""
        class="mt-3 mb-5"
        width="250px"
      /> -->
      <!-- <p class="description">{{ "recuperate.textSend" | translate }}</p> -->
    </div>
  </div>
  <p-footer>
    <div class="footer_btns">
      <button *ngIf="loading" class="btn" type="button" disabled>
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
      <button *ngIf="!loading && step === 1" class="btn" (click)="sendData()">
        {{ "recuperate.textSend" | translate }}
      </button>
      <button
        *ngIf="!loading && step === 2"
        class="btn"
        (click)="step = 1; closeDialog()"
      >
        {{ "recuperate.close" | translate }}
      </button>
    </div>
  </p-footer>
</p-dialog>
