:host ::ng-deep #recover_password_dialog {
  .p-dialog {
    width: 100%;
    max-height: 95%;
    height: 75%;
    .p-dialog-content {
      padding: 0 2rem 2rem 2rem;
      flex: 1;
      display: flex;
    }
    .dialog_container {
      text-align: center;
      .description {
        font-weight: 400;
        line-height: 2.5;
        color: rgba($color: #050717, $alpha: 0.92);
      }
      .form-control {
        border: 1px solid #00000024;
        height: 50px;
        border-radius: 6px;
        text-align: center;
        &::placeholder {
          color: rgba($color: #050c44, $alpha: 0.36);
        }
      }
    }
    .p-dialog-header {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      .p-dialog-title {
        color: #050717;
        opacity: 1;
        flex: 1;
        i {
          font-size: 1.25rem;
        }
      }
    }
    .p-dialog-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top: 0;
      a {
        color: #050717;
      }
      .footer_btns {
        button {
          background-color: #050c44;
          border-radius: 28px;
          height: 50px;
          color: white;
          font-weight: 500;
          font-size: 0.9rem;
          flex: 1;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  :host ::ng-deep {
    #recover_password_dialog {
      .p-dialog {
        .dialog_container {
          align-self: center;
        }
        width: 420px;
        .p-dialog-header {
          padding: 2.5rem 4.5rem;
        }
        .p-dialog-content {
          padding: 0 3rem 2rem 3rem;
        }
        .p-dialog-footer {
          padding: 0 3rem 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  :host ::ng-deep {
    #recover_password_dialog {
      .p-dialog {
      }
    }
  }
}
