<div class="container-fluid h-100">
  <div class="row" id="reset_pass_row">
    <div class="col-lg-6 form-container" id="reset_pass_content">
      <div class="row h-100">
        <div class="col-12 col-lg-12 align-self-md-center">
          <div class="p-3" id="reset_pass_container">
            <img
              [routerLink]="'/login'"
              alt="capa"
              class="d-none d-md-block mb-4"
              role="button"
              src="assets/img/Capa_2.svg"
            />
            <h6 class="my-4 d-none d-md-block">
              <strong>Reinicio de contraseña</strong>
            </h6>

            <form [formGroup]="resetPassForm" id="reset_pass_form">
              <div class="mb-4">
                <label class="d-md-none" for="">{{
                  "resetPassword.email" | translate
                }}</label>
                <span class="p-input-icon-left d-block">
                  <i class="d-flex"
                    ><img alt="" src="/assets/img/icons/message2.svg"
                  /></i>
                  <input
                    class="form-control"
                    formControlName="email"
                    pInputText
                    placeholder="{{ 'resetPassword.email' | translate }}"
                    type="text"
                  />
                </span>
                <div
                  *ngIf="
                    submit && resetPassForm.controls.email.status !== 'VALID'
                  "
                  class="form-text text-danger"
                >
                  <p>
                    <small>{{ "register.fielRequired" | translate }}</small>
                  </p>
                </div>
              </div>
              <div class="mb-4">
                <label class="d-md-none" for="">{{
                  "resetPassword.password" | translate
                }}</label>
                <span class="p-input-icon-left p-input-icon-right d-block">
                  <i class="d-flex"
                    ><img alt="" src="/assets/img/icons/padlock.svg" width="20"
                  /></i>
                  <input
                    [ngClass]="{ 'ng-invalid ng-dirty': f.password.errors }"
                    [type]="showPass ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password"
                    pInputText
                    placeholder="{{ 'resetPassword.password' | translate }}"
                  />
                  <i
                    (click)="showPass = false"
                    *ngIf="showPass"
                    class="pi pi-eye"
                    role="button"
                  ></i>
                  <i
                    (click)="showPass = true"
                    *ngIf="!showPass"
                    class="pi pi-eye-slash"
                    role="button"
                  ></i>
                </span>

                <div
                  *ngIf="
                    submit &&
                    resetPassForm.controls.password.status !== 'VALID' &&
                    resetPassForm.value.password.length === 0
                  "
                  class="form-text text-danger"
                >
                  <p>
                    <small>{{ "register.fielRequired" | translate }}</small>
                  </p>
                </div>
                <div
                  *ngIf="
                    submit && resetPassForm.controls.password.errors?.pattern
                  "
                  class="form-text text-danger"
                >
                  <p>
                    <small>{{
                      "register.validate_password" | translate
                    }}</small>
                  </p>
                </div>
              </div>

              <div class="">
                <label class="d-md-none" for="">{{
                  "resetPassword.confirmPassword" | translate
                }}</label>
                <span class="p-input-icon-left p-input-icon-right d-block">
                  <!-- <i class="pi pi-search"></i> -->
                  <i class="d-flex"
                    ><img alt="" src="/assets/img/icons/padlock.svg" width="20"
                  /></i>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.confirmPassword.errors
                    }"
                    [type]="showConfirmPass ? 'text' : 'password'"
                    class="form-control"
                    formControlName="confirmPassword"
                    pInputText
                    placeholder="{{
                      'resetPassword.confirmPassword' | translate
                    }}"
                  />
                  <i
                    (click)="showConfirmPass = false"
                    *ngIf="showConfirmPass"
                    class="pi pi-eye"
                    role="button"
                  ></i>
                  <i
                    (click)="showConfirmPass = true"
                    *ngIf="!showConfirmPass"
                    class="pi pi-eye-slash"
                    role="button"
                  ></i>
                </span>

                <div
                  *ngIf="
                    submit &&
                    resetPassForm.controls.confirmPassword.status !== 'VALID' &&
                    resetPassForm.value.confirmPassword.length === 0
                  "
                  class="form-text text-danger"
                >
                  <p>
                    <small>{{ "register.fielRequired" | translate }}</small>
                  </p>
                </div>

                <div
                  *ngIf="
                    resetPassForm.hasError('notSame') &&
                    resetPassForm.value.confirmPassword.length > 3
                  "
                  class="form-text text-danger"
                >
                  <p>
                    <small>
                      {{ "register.passwordsDoesntMatch" | translate }}</small
                    >
                  </p>
                </div>
              </div>

              <div class="row mt-5 my-2 text-center px-5">
                <div class="col-12 col-sm-12 mb-3">
                  <button
                    (click)="sendData()"
                    [disabled]="loading"
                    class="btn login-btn mb-3 mb-sm-0"
                    type="button"
                  >
                    <span
                      *ngIf="loading"
                      aria-hidden="true"
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                    ></span>

                    <span *ngIf="loading">
                      {{ "LBL_LOADING" | translate }}
                    </span>

                    <span *ngIf="!loading">
                      {{ "resetPassword.resetPass" | translate }}
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
