:host ::ng-deep {
  .p-password {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    // border: 1px solid #00000024;
    color: rgba($color: #050c44, $alpha: 0.36);

    .p-inputtext {
      width: 100% !important;
    }
  }
}

.form-container {
  max-width: 680px !important;
}

#reset_pass_row {
  display: flex;
  flex-direction: column;
  height: 100vh;
  #reset_pass_header_mobile {
    flex: 0 0 165px;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #reset_pass_form {
    label {
      color: #050c44;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    input,
    .p-password {
      height: 45px;
      border-radius: 6px;
      border: 1px solid #00000024;
      color: rgba($color: #050c44, $alpha: 1);
    }
    .p-input-icon-left > i:first-of-type {
      left: 1rem;
    }
    .p-input-icon-left > .p-inputtext {
      padding-left: 3rem;
    }
    .input-group-prepend {
      .input-group-text {
        background-color: transparent;
      }
    }
  }
  .login-btn {
    width: 100%;
    text-align: center;
    background-color: #0069d9;
    color: white !important;
    border-radius: 32px;
    font-weight: 600 !important;
    height: 45px;
  }
  .register-btn {
    width: 100%;
    text-align: center;
    border-radius: 32px;
    font-weight: 600 !important;
    height: 45px;
    color: #000633;
    opacity: 0.75;
    box-shadow: 0px 0px 4px #00000029;
  }
  .dibujosconten {
    padding: 0px;
    background: #ebf4ff;
    background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"),
      url("/assets/img/cloud_rev.svg"), url("/assets/img/cloud.svg"),
      url("/assets/img/cloud.svg");
    background-size: 20%, 10%, 20%, 20%, 10%, 50px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 5% 90%, 10% 60%, 90% 10%, 10% 10%, 95% 90%,
      center bottom;
  }
  .block-img {
    width: 63%;
  }
  .imgback {
    background-image: url("/assets/img/Grupo_46.svg");
    background-size: 80%;
    background-position: center;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .block-back-img {
    left: 10vh;
    top: 7vh;
    height: 70%;
    position: absolute;
    z-index: 1;
  }
  li {
    background-color: grey;
    width: 10px;
    height: 10px;
  }
  .pie {
    font-size: small;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {
  .container-fluid {
    // min-height: 100%;
    // height: 100vh;
    background: #cadffb;
    background-image: url("/assets/img/cloud.svg"), url("/assets/img/cloud.svg"),
      url("/assets/img/cloud_rev.svg"), url("/assets/img/cloud.svg"),
      url("/assets/img/cloud.svg");
    background-size: 20%, 10%, 20%, 20%, 10%, 50px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 5% 90%, 10% 60%, 90% 10%, 10% 10%, 95% 90%,
      center bottom;
  }
  #reset_pass_row {
    #reset_pass_content {
      flex: 1;
      #reset_pass_container {
        background-color: rgba($color: white, $alpha: 0.9);
        padding: 4rem !important;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) {
  #reset_pass_row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    #reset_pass_content {
      background-color: white;
      // flex: 1;
      #reset_pass_container {
        background-color: rgba($color: white, $alpha: 0.9);
        padding: 2rem !important;
      }
    }
  }
}
