:host ::ng-deep {
    .effort_recovery_header {
      padding: 1.5rem 2rem;
    }
  
    .player_profile {
      display: flex;
      align-items: center;
      font-weight: 600;
      flex-direction: column;
  
      &_image {
        width: 108px;
        height: 108px;
        border-radius: 50%;
      }
  
      &_title {
        font-size: 1.25rem;
        color: #050c44;
        // margin-bottom: 13px;
        margin: .5rem 0;
        text-align: center;
      }
  
      &_subtitle {
        font-size: .9rem;
        margin: .5rem 0;
        color: rgba($color: #000000, $alpha: .6);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }
  
      &_info {
        &_title {
          font-size: .9rem;
          color: #000000;
          opacity: 0.55;
          margin-bottom: 10px;
        }
  
        &_desc {
          font-size: 1rem;
          color: #050c44;
        }
      }

      &_strategies{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // max-width: 400px;
        margin: auto;
        .strategy{
          // flex: 0 50%;
          flex: 1 1 100%;
          margin: .25rem 0;
        }       
      }
    }
  
    .player_info {
      &_title {
        margin-bottom: 24px;
        // font-size: 1.125rem;
        font-weight: 600;
        color: #050c44;
        opacity: 0.61;
      }
      &_text {
        font-weight: 500;
        opacity: 0.7;
      }
      &_factor_result {
        margin-left: 100px;
        font-weight: 700;
      }
    }
    
    .item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: max-content;
      height: 45px;
      border: 1px solid #050c4426;
      border-radius: 27px;
      padding: 10px 32px;
      margin: 0 14px 15px 0;
      color: #050c44;
      font-weight: 600;
      font-size: .9rem;
    }
    .delete_item {
      width: 25px;
      height: 25px;
      display: flex;
  
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: 10px;
      background: #f0f1f4;
      margin-left: 12px;
      cursor: pointer;
    }
    .delete_item_text {
      color: #e0e2e8;
    }
  
    .effort_recovery_container {
      padding: 1.5rem 4rem;
      border-bottom: 1px solid #050c441a;
    }
}

@media (min-width: 576px) {
  :host ::ng-deep {  
    .player_profile {
      flex-direction: row;
      &_strategies{
        .strategy{
          flex: 0 50%;
          // flex: 1 1 100%;
        }       
      }
    }
  }
}

@media (min-width: 1024px) {
  :host ::ng-deep {  
    .player_profile {
      flex-direction: column;
    }
  }
}

@media (min-width: 1200px) {
  :host ::ng-deep {  
    .player_profile {
      flex-direction: row;
  
      &_image {
        margin-right: 1.5rem;
      }
  
      &_title {
        font-size: 1.313rem;
        color: #050c44;
        margin: .5rem 0;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  :host ::ng-deep {  
    .player_profile {
      flex-direction: row;

      &_strategies{
        justify-content: start;
        .strategy{
          flex: 0 50%;
          margin: .25rem 0;
        }       
      }
    }
  }
}
  