<div class="row">
  <div class="col-12">
    <div class="shortcut_profile_player">
      <p-tabMenu
        *ngIf="items.length > 0"
        [activeItem]="items[activeTab]"
        [model]="items"
        routerLinkActive="p-menuitem-link-active"
      >
        <ng-template let-i="index" let-item pTemplate="item">
          <img
            [src]="item.icon"
            class="d-none d-sm-block"
            width="25"
            height="25"
            style="margin-right: 5px"
          />
          {{ item.label | translate }}
        </ng-template>
      </p-tabMenu>
    </div>
    <img
      (click)="goToPlayers()"
      alt="arrow-back"
      src="assets/img/icons/shortcut_arrow.svg"
      style="
        transform: rotate(180deg);
        width: 10px;
        margin-left: 15px;
        cursor: pointer;
        position: inherit;
        z-index: 100 !important;
      "
      class="arrow-back"
    />
  </div>
  <div class="col-12 py-3">
    <router-outlet></router-outlet>
  </div>
</div>
