<div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible" class="sidebarMenu">
    <app-menu-club
      *ngIf="!!team"
      (closeSidebar)="sidebarVisible = $event"
    ></app-menu-club>
  </p-sidebar>
</div>

<div class="menu_team">
  <app-menu-club *ngIf="!!team"></app-menu-club>
</div>
<div class="navbar_team" [ngClass]="{ noTeam: !team }">
  <div class="container-fluid p-0">
    <app-navbar (openSidebar)="sidebarVisible = $event"></app-navbar>

    <div class="mb-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
