.activity_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #00e9c5;
  background-color: transparent;
  color: #00e9c5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

