:host ::ng-deep{
	#btn_edit_avatar{
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.p-dialog{
		.p-dialog-content{
			max-width: 400px;
			.custom-file,.custom-file-input{
				height: 45px;
				cursor: pointer;
			}
			.custom-file-label {
				height: 45px !important;
				line-height: 2.5;
				font-weight: 500;
				color: #495057;
				background-color: #fff;
				border: 1px solid #050C4433;
				border-radius: 9px;
				font-size: .9rem;
				text-align: center;
				&:after{
					content: unset;
				}
			}
			#crop_buttons{
				justify-content: center;
				flex-wrap: wrap;
				button{
					height: 45px;
					border-radius: 9px;
					flex: 1 1 100%;
					font-size: .9rem;
					margin: .25rem 0;
				}
				button:nth-child(1){
					border: 1px solid #050C4433
				}
			}
		}
	}
}